@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-crema: #EDE7DA;
  --color-oro: #C8A24A;
  --color-tinta: #0E1A24;
}

body {
  background-color: var(--color-tinta);
  color: var(--color-crema);
}

a {
  color: var(--color-oro);
}
